@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sora:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: url(../assets/images/bg-header.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

.top-head {
    background-color: #00000075;
}

.top-head p {
    margin: 0;
}

.top-head-div {
    color: white;
}

.top-center-head {
    display: flex;
}

.header-box-logo {
    padding-right: 100px;
}

.nav {
    list-style-type: none;
}

.header-nav-element {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.header-nav-element:hover {
    color: #ff8d00;
}

.header-main-box {
    font-weight: bold;
    color: white;
    margin-top: 100px;
}

.header-text {
    font-weight: bold;
    font-size: 60px;
}

.hidden-box-logo-1 {
    display: none;
}

.hidden-box-logo-2 {
    display: none;
}

.header-main-box h3{
    font-size: 30px;
}

.span-color {
    color: #ff8d00;
}

.header-box-button button {
    background-color: #ff8d00;
    border: 0;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    color: white;
}

/*
//////////
SECTION 1
//////////
*/

.section-1-left {
min-width: 50%;
background-image: url(../assets/images/img-section1.jpg);
background-size: cover;
}

.section-1-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-1-right {
min-width: 50%;
}

.section-1-right-text h2 {
    font-size: 40px;
    font-weight: bold;
}

.section-1-right-text hr {
    background-color: #ff8d00;
    height: 5px;
    width: 8vw;
    margin-bottom: 48px;
    border: none; 
    opacity: 1;
}

/*
//////////
SECTION 2
//////////
*/

.section-2-left {
    background-image: url(../assets/images/bg-section2.png);
    background-color: #ff8d00;
    background-repeat: no-repeat;
    color: white; 
    min-width: 50%;
}

.section-2-left-box {
    width: 670px;
}

.test {
    display: flex;
}

.section-2 h2 {
    color: black;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
}

.section-2 button {
    background-color: #ff8c0000;
    color: white;
    border: solid white 2px;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
}

.section-2-right {
    min-width: 50%;
}

.section-2-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*
//////////
SECTION 3
//////////
*/

.section-3 {
    display: flex;
}

.section-3-left {
    min-width: 50%;
}

.section-3-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-3-right {
    background-image: url(../assets/images/bg-section3.png);
    background-position: right top;
    background-color: #252525;
    background-repeat: no-repeat;
    color: white; 
    min-width: 50%;
}

.section-3-right h3 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #ff8d00;
}

.section-3 button {
    background-color: #ff8c0000;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    color: white;
    border: solid white 2px;
}

.section-3-box-text {
    width: 75%;
}

/*
//////////
SECTION 4
//////////
*/

.section-4-left {
    background-image: url(../assets/images/bg-section2.png);
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    color: #030303; 
    min-width: 50%;
}

.section-4-left-box {
    width: 670px;
}

.section-4 h2{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #030303;
}

.section-4 button {
    background-color: #ff8c0000;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    color: #030303;
    border: solid #030303 2px;
}

.section-4-right {
    min-width: 50%;
}

.section-4-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*
//////////
SECTION 5
//////////
*/

.section-5 h3 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 25px;
}

.section-5 hr {
    background-color: #ff8d00;
    height: 5px;
    width: 75px;
    margin: 0;
    border: none;
    text-align: center;
    margin: auto;
    opacity: 1;
}

.section-5-box-logo {
    justify-content: space-around;
}

.section-5-logo {
    padding: 50px 30px 50px 30px;
}

/*
//////////
SECTION 6
//////////
*/

.section-6 {
    background: url(../assets/images/bg-engagements.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;

}

.section-6-flex {
    display: flex;
}

.section-6-left {
    max-width: 30%;
}

.section-6-box-btn button {
    background-color: #ff8d00;
    border: 0;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    color: white;
}

.section-6-right {
    max-width: 70%;
}

.box-img-section6 {
    padding-left: 15px;
    
}

.box-txt-section6 {
    background-color: white;
    color: black;
    border-right: solid black 2px;
    padding: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.box-txt-section6 h3 {
    font-size: 24px;
    margin-bottom: 2rem;
}

.box-txt-section6 p {
    padding-left: 25px;
}

.img-section6 {
    width: 300px;
    height: 400px;
    height: 100%;
    border-left: solid 25px #ff8c01;
    
}

.list-section6 {
    color: #ff8c01;
    
}

.text-list-section6 {
    margin-bottom: 10px;
}

/*
//////////
FOOTER
//////////
*/

footer {
    background-color: black;
}

.footer-box-logo {
    padding-right: 100px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-nav-element {
    font-size: 16px;
    padding: 12px;
    text-decoration: none;
    color: white;
}

.nav-element-copyright {
    color: #ff8c01;
}

/*
//////////
MEDIA QUERIES
//////////
*/

        /***** DESKTOP XXL *****/

@media only screen and (max-width: 1400px) {

    .section-5-box-logo {
        justify-content: center;
    }

    .section-1-right-text h2{
        font-size: 28px;
    }

  }
        /***** DESKTOP XL *****/

@media only screen and (max-width: 1200px) {

    .section-1-right-text {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .section-1-right-text hr{
    margin-bottom: 20px;
    }

    .section-1-right-text p {
        font-size: 14px;
    }

    .box-txt-section6 {
        padding: 30px 15px 15px 15px;
    }
}

        /***** LAPTOP  *****/

@media only screen and (max-width: 992px) {

.top-head {
    display: none;
}

.header-text {
    font-size: 44px;
}


.header-main-box {
    margin-top: 50px;
}

.header-main-box h3{
    font-size: 22px;
}

.hidden-box-logo-1 {
    display: initial;
}

.hidden-box-logo-2 {
    display: initial;
}

.section-1-left {
    display: none;
}

.section-1-right-text h2{
    text-align: center;
    font-size: 30px;
}

.section-1-right hr{
    width: 20vw;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.box-img-section6 {
    display: none;
}

.box-txt-section6 {
    padding: 50px;
    border-right: solid 10px #ff8c01;
    border-left: solid 10px #ff8c01;
    border-top: solid 10px #ff8c01;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 50px;
}

}  

        /***** TABLETS *****/

@media only screen and (max-width: 768px) {

    .top-head {
        display: none;
    }

    .header-text {
        font-size: 35px;
    }
    
    .header-main-box h3{
        font-size: 18px;
    }
    

    .header-box-button {
        text-align: center;
    }

    .section-5-box-logo img{
        width: 200px;
    }

    .section-2-right {
        display: none;
    }

    .section-3-left {
        display: none;
    }

    .section-3-box-text {
        width: 100%;
    }

    .section-4-right {
        display: none;
    }
    
    .section-6-flex {
        display: block;
    }

    .section-6-left {
        max-width: 100%;
    }
    
    .section-6-right {
        max-width: 100%;
    }

    .section-6-box-btn {
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-box-nav ul {
        display: block;
    }

    .footer-nav li {
        list-style: circle;
        color: #ff8c01;
    }

    .footer-nav li:last-child{
        list-style: disc;
    }
  }

          /***** MOBILE *****/

@media only screen and (max-width: 576px) {

    .header-box-logo img {
        width: 100px;
    }

    .header-box-logo {
        padding-right: 40px;
    }

    .header-text {
        font-size: 25px;
    }
    .section-1-right-text h2{
        text-align: center;
        font-size: 20px;
    }

    .box-txt-section6 h3 {
        font-size: 20px;
    }

    .box-txt-section6 p {
        font-size: 14px;
    }

    .box-txt-section6 {
        padding: 30px;
    }

    .footer-box-logo img {
        width: 100px;
    }

    .footer-box-logo {
        padding-right: 40px;
    }
    

  }
  
            /***** IPHONE *****/

    @media only screen and (max-width: 420px) {

           

        }



